

body{
   
    background-color: #d57d1f !important;
}


.recipe{
    background: white;
    border-radius: 10px;
}
.icon{
    color: #3B2D64;
}


#foodItem{
    display: none;
}
#search-button{
    background-color:#3B2D64 ;
    color: white;
    border: none;
}


.food-img{
    border-radius: 10px 10px 0px 0px;
}
.inputBox{
    background-color: white;
    border-radius: 10px;
}

