body{
    background-color: #b8a9c9 !important;
}
.recipe{
    background: lightyellow;
    border-radius: 5px;

}
#search-btn{
    background-color: #622569;
    color: white;
    border:none;
}

#search-btn:hover{
    background-color: crimson;
}
.recipe-content{
    background-color: lightyellow;
    border-radius: 0px 0px 5px 5px;

}
.input-box{
    background-color: wheat;
    border-radius: 10px;
}
input#search-input{
    border: none;
}
